block header
    header#header
        .container.flex.alignCenter
            .logo
                a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/logo_new.png", alt="")
            .list
                ul.flex
                    li: a(href="",style="font-size: 30px;") Bài Hát
                    li: a(href="") Playlist
                    li: a(href="") Tuyển Tập
                    li: a(href="") Video
                    li: a(href="") BXH
                    li: a(href="") Chủ Đề
                    li: a(href="") Top 100
                    li: a(href="") Nghệ sĩ
            .header-icons
                ul.flex
                    li: a(href="")
                        img(src="https://stc-id.nixcdn.com/v11/images/avatar_default.jpg", alt="").avatar
                    li: a(href="")
                        img(src="https://stc-id.nixcdn.com/v11/images/avatar_default.jpg", alt="").avatar
                    li: a(href="")
                        img(src="https://stc-id.nixcdn.com/v11/images/avatar_default.jpg", alt="").avatar
            .search
                input(type="text",placeholder="tim bai hat")
                a(href="").search-icon: img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_search_new.png", alt="")

